{% extends 'catalog_2/base.html'%}
{% load my_tags %}
{% load static %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for product in object_list %}
        {% if product.is_active %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ product.photo | media_filter }}">
            <div class="card-body">
              <h2 class="card-title">{{ product.name }}</h2>
              <p class="card-text">Пользователь: {{ product.user }}</p>
              <p class="card-text">Категория: {{ product.category }}</p>
              <p class="card-text">Описание: {{ product.description | truncatechars:100 }}</p>
              <div class="card-footer">
                  {% if product.active_version %}
                  <p>Текущая версия: {{ product.active_version.number_version }}
                      Название: {{ product.active_version.name_version }}</p>
                  {% else %}
                  <p>Нет текущей версии</p>
                  {% endif %}
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="{% url 'catalog_2:product_detail' product.pk %}" role="button">Посмотреть</a>
                  {% if perms.product.can_edit_description and perms.product.can_edit_category and perms.product.can_is_active or product.user == user %}
                  <a class="btn btn-success" href="{% url 'catalog_2:product_update' product.pk %}" role="button">Редактировать</a>
                  {% endif %}
                  {% if product.user == user %}
                  <a class="btn btn-danger" href="{% url 'catalog_2:product_delete' product.pk %}" role="button">Удалить</a>
                  {% endif %}
                </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if user.is_superuser and not product.is_active %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ product.photo | media_filter }}">
            <div class="card-body">
              <h2 class="card-title">{{ product.name }}
                  (Не опубликовано)</h2>
              <p class="card-text">Пользователь: {{ product.user }}</p>
              <p class="card-text">Категория: {{ product.category }}</p>
              <p class="card-text">Описание: {{ product.description | truncatechars:100 }}</p>
              <div class="card-footer">
                  {% if product.active_version %}
                  <p>Текущая версия: {{ product.active_version.number_version }}
                      Название: {{ product.active_version.name_version }}</p>
                  {% else %}
                  <p>Нет текущей версии</p>
                  {% endif %}
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="{% url 'catalog_2:product_detail' product.pk %}" role="button">Посмотреть</a>
                  {% if perms.product.can_edit_description and perms.product.can_edit_category and perms.product.can_is_active or product.user == user %}
                  <a class="btn btn-success" href="{% url 'catalog_2:product_update' product.pk %}" role="button">Редактировать</a>
                  {% endif %}
                  {% if product.user == user %}
                  <a class="btn btn-danger" href="{% url 'catalog_2:product_delete' product.pk %}" role="button">Удалить</a>
                  {% endif %}
                </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
</div>
{% endblock %}